.venv
.idea
*.pyc
__pycache__
day31-35/code/thread
day36-45/code/*.xlsx


### VisualStudioCode ###
.vscode/*
.vscode/**
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
